@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./theme-toggle.css);

::selection {
  @apply bg-emerald-400 text-gray-800;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
  word-break:  break-word;
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

pre, code{
font-family: var(--font-jetbrains-mono);
}

.font-mono {
  font-family: var(--font-jetbrains-mono);
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}

.skip-nav {
  @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

#skip {
  scroll-margin-top: 1.125rem;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.metric-card>a {
  @apply no-underline;
}

.step>h3 {
  @apply my-0;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

[data-reach-tooltip] {
  --border-color: hsl(0 0% 88.7%);
  --text-color: hsl(0 0% 43.5%);
  padding: 4px 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  color: var(--text-color);
  font-family: X,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 12px;
  background: white;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  z-index: 1337;
  pointer-events: none;
  word-break: break-word;
}

.dark [data-reach-tooltip] {
  --border-color: hsl(0 0% 20.5%);
  --text-color: hsl(0 0% 62.8%);
  background: hsl(0 0% 11.0%);
}

@import url("./shiki.css");
@import url("@reach/tooltip/styles.css");
