code[class*='language-'],
pre[class*='language-'] {
  position: relative;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html.dark [data-theme='light'] {
  display: none;
}

html.light [data-theme='dark'] {
  display: none;
}

body :where(code):not(:where(pre code)) {
  @apply font-normal text-inherit !text-[0.875em];
}

:where(code):not(:where(pre code))::after,
:where(code):not(:where(pre code))::before {
  content: '`'
}