code[class*='language-'],
pre[class*='language-'] {
  position: relative;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Dual theme support - hide opposite theme based on mode */
[data-theme='dark'],
html.light [data-theme='dark'] {
  display: none;
}

html.dark [data-theme='light'] {
  display: none;
}

html.dark [data-theme='dark'] {
  display: block;
}

/* Apply shiki CSS variables for syntax highlighting */
[data-rehype-pretty-code-figure] code span,
[data-rehype-pretty-code-fragment] code span {
  color: var(--shiki-light);
}

html.dark [data-rehype-pretty-code-figure] code span,
html.dark [data-rehype-pretty-code-fragment] code span {
  color: var(--shiki-dark);
}

body :where(code):not(:where(pre code)) {
  @apply font-normal text-inherit !text-[0.875em];
}

:where(code):not(:where(pre code))::after,
:where(code):not(:where(pre code))::before {
  content: '`'
}